.bx--header__search--form {
    display: flex;
    align-items: center;
    
    justify-content:first baseline;
  }
  
  .bx--header__search--input {
    width: 100%;
    height: 2rem;
    margin-left: 0.5rem;
  }
  
  .bx--header__search--active .bx--header__search--form {
    display: none;
  }
  