
.cover-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cover-container main {
    flex: 1;
}

.custom-shape-divider-bottom-1683641197 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1683641197 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 184px;
}

.custom-shape-divider-bottom-1683641197 .shape-fill {
    fill: #DBD1D1;
}