<br>
<br>
<br>
<br>

<div class="row" >
    <h1 class="heading">Store.</h1>
    <h1 class="subheading">The best way to buy the products you love.</h1>
</div>
<div class="row" >
    <div class="col-md-3"> 
        <button class="filterbtn" (click)="displaysort()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </button>
    </div>
    <div class="col-md-9">
        <div *ngIf="sorting" class="popup-overlay">
            <div class="card2"> 

                <button class="dismiss" type="button" (click)="displaysort()">×</button> 
                <div class="header"> 
                  <div class="image">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M20 7L9.00004 18L3.99994 13" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                 </div> 
                    <div class="content">
                       <span class="title">Filtiring</span> 
                       <p class="message">Filter by Price ranges</p> 
                    </div> 
                    <div>
                        <select #priceRange>
                            <option value="0 - 100">0 - 100</option>
                            <option value="100 - 1000">100 - 1000</option>
                            <option value="1000 - ">1000 - </option>
                        </select>
                    </div>
                        <div class="actions">
                          <button class="history" (click)="FilterbyPrice()" type="button">Filter</button>
                        </div> 
                </div> 
            </div>
          </div>
    </div>     
</div>
<div class="row">
    <div class="mylist">
        <div  *ngFor="let c of categories">
            <div class="mytext" (click)="sort(c.name)">{{c.name}}</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        
    </div>
    <div class="col-md-10">
        <div class="row">
            <ng-container *ngFor="let p of products;let i = index">
                <div class="col-md-3">
                    <div class="card" >
                        <div class="imgbox" (click)="view(p.id)">
                            <div class="img" >
                                <img [src]="p.imageUrl">
                            </div>
                        </div>
                        <div class="details">
                            <h2 class="title">{{p.name}}</h2>
                            <span class="caption">{{p.price | currency:'USD'}}</span>
                            <button class="btn btn-warning" (click)="addItemToCart(p)">add to cart</button>
                        </div>
                    </div>
                </div>
                <div *ngIf="(i+1)%4===0" class="w-100"></div>
            </ng-container>
        </div>
    </div>
    <div class="col-md-1">
        
    </div>
</div>
<br>